<settings>

<servers>
  <server>
    <id>devops7days-7day-devops</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>devops7days-7day-devops</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>devops7days-7day-devops</id>
        <url>https://devops7days-879381283978.d.codeartifact.ap-south-1.amazonaws.com/maven/7day-devops/</url>
      </repository>
    </repositories>
  </profile>
</profiles>


<mirrors>
  <mirror>
    <id>devops7days-7day-devops</id>
    <name>devops7days-7day-devops</name>
    <url>https://devops7days-879381283978.d.codeartifact.ap-south-1.amazonaws.com/maven/7day-devops/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>
