<settings>

<servers>
  <server>
    <id>devopsdomain-codearti4devops</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>devopsdomain-codearti4devops</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>devopsdomain-codearti4devops</id>
        <url>https://devopsdomain-879381283978.d.codeartifact.ap-south-1.amazonaws.com/maven/codearti4devops/</url>
      </repository>
    </repositories>
  </profile>
</profiles>


<mirrors>
  <mirror>
    <id>devopsdomain-codearti4devops</id>
    <name>devopsdomain-codearti4devops</name>
    <url>https://devopsdomain-879381283978.d.codeartifact.ap-south-1.amazonaws.com/maven/codearti4devops/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>
